<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <filter>
  <filter-name>charsetfilter</filter-name>
  <filter-class>com.myhouse.filter.CharsetFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>charsetfilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter>
  <filter-name>checkfilter</filter-name>
  <filter-class>com.myhouse.filter.CheckFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>checkfilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
  <filter>
  <filter-name>myparameter</filter-name>
  <filter-class>com.myhouse.filter.MyParameterFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>myparameter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.myhouse.web.servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RegisterServlet</servlet-name>
  <servlet-class>com.myhouse.web.servlet.RegisterServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>PublicServlet</servlet-name>
  <servlet-class>com.myhouse.web.servlet.PublicServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ListServlet</servlet-name>
  <servlet-class>com.myhouse.web.servlet.ListServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>IndexServlet</servlet-name>
  <servlet-class>com.myhouse.web.servlet.IndexServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RegisterServlet</servlet-name>
  <url-pattern>/RegisterServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PublicServlet</servlet-name>
  <url-pattern>/PublicServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ListServlet</servlet-name>
  <url-pattern>/ListServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>IndexServlet</servlet-name>
  <url-pattern>/IndexServlet</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
